@model List<Model.DTOs.IstekDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Marka</th>
        <th>Model</th>
        <th>Araç Id</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Telefon No</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th></th>
    </tr>
     @foreach(var ent in Model)
     {  <tr>
            <td>@ent.aracMarka</td>
            <td>@ent.aracModel</td>
            <td>@ent.aracID</td>
            <td>@ent.musteriAdi</td>
            <td>@ent.musteriSoyadi</td>
            <td>@ent.telNo</td>
            <td>@ent.baslangicTarihi.ToString().Substring(0,10)</td>
            <td>@ent.bitisTarihi.ToString().Substring(0,10)</td>
            <td><a class="btn btn-success" href="/KiralamaTalep/KiralamaOnay/@ent.istekID">ONAY</a></td>
       </tr>
     }

</table>
