@model List<Model.DTOs.KiralikAracDTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-hover">
    <tr>
        <th>Marka</th>
        <th>Model</th>
        <th>Araç Id</th>
        <th>Müşteri Adı</th>
        <th>Müşteri Soyadı</th>
        <th>Telefon Numarası</th>
        <th>Şirket Adı</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Toplam Ücret</th>
        <th>Anlık Kiralık Durumu</th>


    </tr>
    @foreach(var ent in Model)
    {
    <tr>
        <td>@ent.Marka</td>
        <td>@ent.Model</td>
        <td>@ent.aracID</td>
        <td>@ent.musteriAdi</td>
        <td>@ent.musteriSoyad</td>
        <td>@ent.telNo</td>
        <td>@ent.SirketAdi</td>
        <td>@ent.baslangicTarihi.ToString().Substring(0,10)</td>
        <td>@ent.bitisTarihi.ToString().Substring(0,10)</td>
        <td>@ent.kiralamaUcreti</td>
        @if (ent.durum==true)
        {
            <td>Evet</td>
        }
        else {
            <td>Hayır</td>
        }


    </tr>

    }


</table>
